<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="inventory" connectionString="Data Source=localhost;Initial Catalog=inventory;User Id=root;Password=123456;SSLMode=none;charset= utf8;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>